head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="A way to quickly start any new project" content="")
	meta(name="gulp starter env" content="")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	
	title= `${title}`
	
	<!-- importing linear icons and fontawesome icons -->
	<!-- importing custom css file including bootstrap v4 -->
	link(rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous")
	link(href="/styles/styles.min.css" rel="stylesheet" type="text/css")
	//- link(href="/styles/styles.min-rtl.css" rel="stylesheet" type="text/css")