<!DOCTYPE html>
html(lang=lang dir=(lang == 'en' ? 'ltr' : 'rtl'))
	include ../partials/head
	body
		include ../partials/header
		include ../partials/preloader
		block messages
			include ../partials/flash_messages.pug

		block content
		include ../partials/foot