extends ./layouts/index-layout.pug

block content
	main.border-bottom.bg-light(role="main")
		.container
			.text-center.d-flex.flex-column.justify-content-center.align-items-center(data-wow-duration="1s" style="min-height:74vh;max-height: 74vh; height: 450px;")
				h1.bg-white.text-uppercase.display-3.font-italic.font-weight-bold.mb-0.p-3.border= __("starter_env.main_title")
				p.bg-white.lead.text-secondary.px-3.py-1.border.border-top-0= __("starter_env.main_subtitle")
			.d-flex.align-items-center.justify-content-center.w-100.pb-5.h4
				a.animated.bounce.infinite.slower(href="#")
					span.lnr.lnr-chevron-down.font-weight-bold