extends ./layouts/index-layout.pug

block content
	main.border-bottom(role="main")
		.container
			.text-center.d-flex.flex-column.justify-content-center.align-items-center(style="min-height:80vh;max-height: 80vh; height: 500px;")
				h1.text-uppercase.display-4.font-italic.font-weight-bold.shadow.mb-0.px-3= __("starter_env.main_title")
				p.lead.text-secondary.shadow.px-3= __("starter_env.main_subtitle")