extends ./layouts/index-layout.pug

block content
	main.container(role="main")
		.text-center.d-flex.flex-column.justify-content-center.align-items-center(style="height:90vh;")
			h1.text-uppercase.display-4.font-italic.font-weight-bold.mb-0
				| Express starter env.
			p.lead.text-muted
				| Use this document as a way to quickly start any new project.