extends ../layouts/email-layout.pug
block content
	h2 Password Updated
		p Your credintial password has been changed
		p 
			| Hello, This is a confirmation that the password for your account
			strong= ` ${email} ` 
			| has just been changed.