extends ../layouts/email-layout.pug
block content
	h2 Verify User Account
		p Thanks for Sign Up!
		p Your account has been created, you can login with the following credentials after you activated your account by visiting the URL below.
		p ------------------------------
		p= `Email: ${user.email}`
		p= `username: ${user.profile.username}`
		p ------------------------------
		p 
			| Please click the link to activate your account
			br
			a(href=`${validateUrl}` target="_blank")= ` ${validateUrl}`